@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap');

html{
    background-color: #99ccfbbd;
}
body{
    font-family: 'Fredoka', sans-serif;
    color: #0A3871;
}


header{
    margin-left: 15px;
    position: relative;
}

header h1 {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
    color: #0A3871;
    text-decoration: underline;
    position: relative;
    bottom: 5px;
}

header h1 a {
    text-decoration: none;
    color: #0A3871;

}

header #gatinho-escreva{
width: 90px;
position: absolute;
top: -18%;

}
header #gatinho-texto{

    position: absolute;
    left: 80%;

}

main{
    border-radius: 1px;
    background-color: #489CEB;
    border-radius: 5px;
    border: solid #4B637A;

}


.area_texto{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

textarea {
    font-size: 30px;
    resize: none;
   
   color: #0a3263;
   border-color: #4B637A;
   border-top: 0;
  }

#escreva{
    width: 60%;
    height: 400px;
    background-color: #99CBFB;
    border-radius: 3px 0 3px 0;
    outline: none;
    border-left: 0;
    
}

#texto {
    width: 38.8%;
    height: 400px;
    background-size: 100% ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #99CBFB;
    cursor: pointer;
    outline: none;
    border-right: 0;
    border-radius: 0 3px 0 3px;
  }

#texto::selection{
    background: none;
    color: inherit;
}

.botoes ul{
    display: inline-block;
    padding: 0;
    width: 60%;
    text-align: center;
}

.botoes li {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    border: 1px solid #0A3871;
    font-weight: bold;
    padding: 12px;
    border-radius: 18px;
    width: 120px;
    margin-left: 10px;
}

.botoes li:hover {
    cursor: pointer;
    
    background-color: #3E85C7;
 
    transition: 0.1s;
    transition-timing-function: ease-in;
    background-position: 100% 50%;
  
}

.botoes li:active{
    background-color: #99ccfbbd;
    border-color: #4B637A;
    font-weight: bolder;
    transition: 0.2s;
}



.botoes li::selection{
    background: none;
    color: inherit;
}

.texto-copia{
    display: inline-block;
    
    width: 39.5%; 
    text-align: center;
}

.texto-copia h2{
    
    display: inline;
    margin-left: 5px;
}

footer{

    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}



@media only screen and (max-width: 767px){


    header{
        border: solid;
        margin: 0;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        background-color: #489CEB;
        border-color: #4B637A;
        padding: 5px;
        position: a;
    }


header #gatinho-escreva{
    width: 90px;
    position: relative;
    bottom: 13px;

    
    
    }
    header #gatinho-texto{
    
        position: static;
        top: 26px;
        left: 150px;
    
    }

main{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    
}

.area_texto{
 
    display: inline;
    border-right: 20px ;
    border-top: 2px;

    
}

#escreva{
    width: 98.7%;
    border-radius: 0;
    border: 0;
    border-right: 20px ;
}

#texto{

    border-right: 20px ;
    width: 98.7%;
    border-radius: 0;
    border-bottom: 2px ;
    border-style: solid;
    border-color: #4B637A;
    border-right: 1px;
    border-left: 1px;

    
   
}

.texto-copia{
    display: none;
}

.botoes{
    text-align: center;
    width: 100%;
    
    

}

.botoes ul{

    padding: 0;
   
}
.botoes li{

    width: 180px;
    margin-bottom: 5px;
    border: 2px solid;
}

.botoes li:hover{
    background-color: #489CEB;
}

.botoes li:active{
    background-color: #99CBFB;
}
}
